@import "_normalize.scss";

/* FONT VARIABLES */
$primary-font: OpenSansRegular;
$logo-font: PacificoRegular;
$bold-font: OpenSansSemibold;
$italic-font: OpenSansLightItalic;
$light-font: OpenSansLight;

/* SCREEN-SIZE VARIABLES */
$small-screen-min: 0;
$med-screen-min: 601px;
$large-screen-min: 800px;

/* COLOR VARIABLES */
$light-gray: #ECEBEB;
$dark-gray: #313132;
$blue: #1160AD;
$red: #EA431F;

/******************* GLOBAL SETTINGS *******************/
html {
  font-family: $primary-font;
  @media screen and (min-width: $small-screen-min) {
    html {
      font-size: 14px;
    }
  }
  @media screen and (min-width: $med-screen-min) {
    html {
      font-size: 16px;
    }
  }
  @media screen and (min-width: $large-screen-min) {
    html {
      font-size: 18px;
    }
  }
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  border-radius: 25px;
  margin-top: 2em;
  border: 0;
  padding: 0.5em 1.75em;
  a {
    font-size: 0.8em;
    color: #FFFFFF;
  }
}

.btn-blue {
  background-color: $blue;
}

.btn-red {
  background-color: $red;
}

/******************* HEADER *******************/

header {
  height: 6em;
  width: 100%;
  nav {
    width: 100%;
    display: flex;
  }
  .nav-container {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: auto;
    display: inherit;
  }
  .logo {
    flex: 0 1 35%;
    height: auto;
    padding: 1em 0;
    img {
      min-width: 100px;
      height: auto;
      max-width: 70%;
    }
    @media screen and (min-width: $small-screen-min) {
      padding-left: 0;
      margin: 0 auto;
    }
    @media screen and (min-width: $med-screen-min) {
      padding-left: 0;
      margin: 0 auto;
    }
    @media screen and (min-width: $large-screen-min) {
      padding-left: 5em;
    }
  }
  .menu {
    flex: 0 1 65%;
    padding: 2em 5em 0;
    text-align: right;
    margin-top: -.1%;
    @media screen and (min-width: $small-screen-min) {
      display: none;
    }
    @media screen and (min-width: $med-screen-min) {
      display: none;
    }
    @media screen and (min-width: $large-screen-min) {
      display: inline;
    }
  }
  li {
    list-style-type: none;
    display: inline-block;
    @media screen and (min-width: 800px) {
      font-size: .9em;
      padding: 0.4em;
    }
    @media screen and (min-width: 1000px) {
      padding: 1em;
      font-size: 100%;
    }
  }
  .menu-icon {
    z-index: 1;
    img {
      max-width: 100%;
      height: auto;
    }
    @media screen and (min-width: $small-screen-min) {
      padding: 1.5em 1em;
      img {
        max-width: 80%;
      }
    }
    @media screen and (min-width: $med-screen-min) {
      padding: 2em 3em;
      img {
        max-width: 100%;
      }
    }
    @media screen and (min-width: $large-screen-min) {
      display: none;
    }
  }
}

.nav-container .drop-down {
  display: none;
  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 1;
  padding: 1em;
  li {
    display: block;
  }
  @media screen and (min-width: $small-screen-min) {
    top: 2em;
    right: 2em;
  }
  @media screen and (min-width: $med-screen-min) {
    top: 3em;
    right: 3.5em;
  }
  @media screen and (min-width: $large-screen-min) {
    display: none;
  }

}

.hero-image {
  background-image: url("../_assets/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -10em;
  .header-inset {
    position: relative;
    margin: 0 auto;
    padding: 12em 0 3em;
    color: #FFFFFF;
    font-family: $bold-font;
    @media screen and (min-width: $small-screen-min) {
      padding-left: 1em;
    }
    @media screen and (min-width: $med-screen-min) {
      padding-left: 5em;
    }
  }
}

/******************* MAIN *******************/

.main-container {
  width: 90%;
  margin: 22em auto 0;
  .welcome-msg, .survey {
    float: left;
  }
  .welcome-msg {
    width: 50%;
    @media screen and (min-width: $small-screen-min) {
      width: 100%;
    }
    @media screen and (min-width: $med-screen-min) {
      width: 50%;
    }
  }
  .survey {
    width: 50%;
    margin: 1.5em 0;
    @media screen and (min-width: $small-screen-min) {
      width: 100%;
    }
    @media screen and (min-width: $med-screen-min) {
      display: inline-block;
      width: 50%;
    }
    input {
      width: 100%;
    }
    input[type=text] {
      background-color: $light-gray;
      border-bottom-width: 0;
      text-indent: 0.5em;
      border-radius: 5px;
    }
    label {
      font-weight: bold;
      color: #000000;
    }
    .beer-count {
      margin-top: 1em;
    }
    select {
      display: initial;
      background-color: $light-gray;
      color: #C7C7C7;
      width: 100%;
    }
    span {
      padding: 1em;
    }
  }
}

.about-us-container {
  margin: 0 -6%;
  background-color: $light-gray;
  overflow: hidden;
  width: 112%;
  text-align: center;
}

.about-us {
  padding: 2em 0;
  width: 90%;
  margin: 0 auto;
  .focused-phrase {
    font-family: $light-font;
  }
  h3 {
    font-family: $bold-font;
  }
  p {
    font-family: $italic-font;
  }
  .about-cards-container {
      width: 80%;
      margin: 0 auto;
    }
  @media screen and (min-width: $small-screen-min) {
    .direct-to-you, .pub-less, .peace-of-mind, .expert-advice {
    width: 100%;
    }
  }
  @media screen and (min-width: $med-screen-min) {
    .direct-to-you, .pub-less, .peace-of-mind, .expert-advice {
      width: 40%;
      float: left;
      padding: 1em;
    }
  }
  @media screen and (min-width: $large-screen-min) {
    .direct-to-you, .pub-less, .peace-of-mind, .expert-advice {
      width: 20%;
      float: left;
      padding: 1em;
    }
    .about-btn {
      clear: both;
      width: 100%;
      margin: 0 auto;
    }
  }
}

/******************* FOOTER *******************/

footer {
  margin-bottom: -10%;
  @media screen and (min-width: $small-screen-min) {
    .footer-container {
      height: 10em;
    }
  }
  @media screen and (min-width: $med-screen-min) {
    .footer-container {
      height: 6em;
    }
  }
}

.footer-container {
  background-color: $dark-gray;
  color: $light-gray;
  padding: 2em 0;
  width: 100%;
  height: auto;
  address, .copyright {
    text-align: center;
  }
  .footer-logo {
    width: 7em;
    margin: 0 auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  @media screen and (min-width: $med-screen-min) {
    .address-container {
      padding-left: 5em;
      float: left;
    }
    .footer-logo {
      padding-right: 5em;
      float: right;
    }
  }
}
