/* FONT VARIABLES */
$primary-font: OpenSansRegular;
$bold-font: OpenSansSemibold;
$italic-font: OpenSansLightItalic;
$light-font: OpenSansLight;

/* SCREEN-SIZE VARIABLES */
$small-screen-min: 0;
$med-screen-min: 601px;
$large-screen-min: 800px;

/* COLOR VARIABLES */
$copyright-gray: #595B5C;
$light-gray: #ECEBEB;
$dark-gray: #313132;
$blue: #1160AD;
$red: #EA431F;